
# Files included by default:
# README.rst setup.py setup.cfg pyofss/* pyofss/modules/* pyofss/tests/*

# Also require the following files:
include COPYING
include examples/README
recursive-include examples *.py
